<!-- Main layout for the website -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Road Hogs Rentals</title>
  </head>
  <body>
    <header>

    {{! need to add img of profile picture }}
      <img src="/images/roadHogsLogoTPBG.jpg" alt="logo" class="logo" />
      <nav>
        <a href="/">Home</a>
        <a href="/rental">Rental Prices</a>
        {{#if loggedIn}}
        <a href="/"><button>Logout</button></a>
        {{else}}
        <a href="/login"><button>Login</button></a>
        {{/if}}
      </nav>
    </header>
    <section>
      <div class="box">
        <div class="wave -one"></div>
        <div class="wave -two"></div>
        <div class="wave -three"></div>
      </div>

      {{{body}}}
    </section>
  </body>

</html>