<!-- Main layout for the website -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/bike-rentals/public/css/style.css" />
    <title>Road Hogs Rentals</title>
  </head>
  <body>
    <section>
        <img src="/bike-rentals/public/images/background.jpeg" class="bg">
        <img src="/bike-rentals/public/images/pigOnBikeTPWheels.jpg" class="bike">
    </section>
  </body>

</html>