<!-- Main layout for the website -->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <title>Road Hogs Rentals</title>
  </head>
  <body>
    
  </body>

</html>