<!-- For the Homepage -->
<div class="home">

  <h1>Welcome to Road Hogs Rentals</h1>
  <p>To browse our rental options, enter below</p>
  <div class="homeBtn">
    <button>Enter</button>

  </div>
</div>