<!-- For the login page -->
<div>
    <form>
      <p>Login</p>
      <input id ="username" type="text" name="" placeholder="Enter Username">
      <p>Create Password</p>
      <input id="password" type="password" name="" placeholder="Enter Password"><br>
      <p>Confirm Password</p>
      <input id ="confirmPassword" type="password" name="" placeholder="Confirm Password"><br>
      <button onclick="login" id="loginButton">Login</button>
      <div class="container signup">
        <p>Need an account? <a href="/signup">Sign Up</a>.</p>
</div>