
  <div class="rentals-list">
    <div>
    <form class="rental-card">
        <p>About to rent vehicle: {{vehicleData.dataValues.vehicleType}}</p>
        <p id="vId">{{vehiceData.dataValues.id}}</p>
      <p>This will charge your credit card ${{vehicleData.dataValues.price}}</p>
      <p>Click the Rent Now button to confirm</p>
      <button onclick="rental" id="rentButton">Rent Now!</button>
    </form>
    </div>
  </div>

  <script src="./js/rental.js"></script>