
  <caption>Rental Options</caption>
  <div class="rentals-list">
  {{#each vehicles as |vehicle|}}
    <div>
    <div class="rental-card">
      <p>{{vehicle.vehicleType}}</p>
      {{#if vehicle.isAvailable}}
      <p id="available">AVAILABLE</p>
      <button type="submit">Rent Now!</button>
      {{else}}
      <p id="available">UNAVAILABLE</p>
      {{/if}}
    </div>
    </div>
  {{/each}}
  </div>

  <h1>My Rentals</h1>
  <div class="myRentals">
    {{#each vehicles as |vehicle|}}
      {{#unless vehicle.isAvailable}}
      <div id="myRental"></div>
        <p>{{vehicle.vehicleType}}</p>
        <button type="submit" id="returnButton">Return</button>
      </div>
      {{/unless}}
    {{/each}}
  </div>

  