<!-- For the rental page -->
  <caption>Rental Options</caption>
  <div class="rentals-list">
  {{#each vehicles as |vehicle|}}
    {{#if vehicle.isAvailable}}
    <div>
    <div class="rental-card">
      <p>{{vehicleType}}</p>
      <p id="available">AVAILABLE</p>
      <p>{{location}}</p>
      <button type="rent">Rent Now!</button>
    </div>
    </div>
  {{/if}}
  {{/each}}
  </div>
  