<!-- For the rental page -->
<section class="rental">
  <img src="/images/{{painting.filename}}" alt="{{painting.description}}">
  <div class="rental-details">
    <h3>{{vehicle.title}}</h3>
    <p>By: {{painting.artist}}</p>
  </div>
</section>