@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins:wght@300&family=Tilt+Prism&display=swap');

/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* section */
section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* background */
section .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* pig on bike */
section .bike {
    position: absolute;
    scale: 0.65;
    animation: animateBike 10s linear;
}

/* animating pig on bike */
@keyframes animateBike {
    0% {
        transform: translateX(calc(100% + 100vw));
    }
    50% {
        transform: translateX(calc(-100% - 100vw));
    }
    50.01% {
        transform: translateX(calc(-100% - 100vw))
        rotateY(180deg);
    }
   100% {
        transform: translateX(calc(100% + 100vw))
        rotateY(180deg);
    }

}